@model List<ExtraMaterial>

@{
    ViewBag.Title = "Ekstra Malzemeler";
}

<h1 class="menuTitle">@ViewBag.Title</h1>

<a class="btn bg-success mb-1 newMenuLink" asp-controller="ExtraMaterial" asp-action="Create">
    <i class="fa-solid fa-plus"></i>
</a>

<table class="table table-hover align-items-center">
    <thead class="thead-dark bg-dark text-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Malzeme Adı</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Düzenle</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model)
        {
            <tr>
                <td>@material.Id</td>
                <td>@material.MaterialName</td>
                <td>@material.Price ₺</td>
                <td>
                    <a asp-controller="ExtraMaterial" asp-action="Update" asp-route-id="@material.Id" class="btn btn-warning">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </td>
                <td>
                    <a asp-controller="ExtraMaterial" asp-action="Delete" asp-route-id="@material.Id" class="btn btn-danger">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>